{"characters":[{"id":"hero_thinks","name":"Мысли героя"},{"id":"hero","name":"Герой"},{"id":"without_face","name":"Человек без лица"}],"variables":[{"var":"suspicion","desc":"Подозрение"},{"var":"has_gun","desc":"Есть игрушечный пистолет"},{"var":"silent","desc":"Промолчать в диалоге с человеком без лица"},{"var":"has_item()","desc":"Проверка наличия предмета"}],"hero":"hero"}